body {
  margin: auto;
  max-width: 1400px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .content {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@font-face {
  font-family: Shrikhand-Regular;
  src: url(../../public/font/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../../public/font/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../../public/font/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../../public/font/Roboto/Roboto-Light.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.main-title {
  font-family: Shrikhand-Regular;
  font-size: 28px;
}

.secondary-title {
  font-family: Roboto-Bold;
  font-size: 24px;
  font-weight: 100;
}

.explor-text {
  font-family: Roboto-Light;
  font-size: 18px;
  font-weight: 300;
}

.localisation-title {
  font-family: Roboto-Bold;
  font-size: 16px;
  font-weight: 100;
}

.fonctionning-title {
  font-family: Roboto-Bold;
  font-size: 16px;
  font-weight: 100;
}

.fonctionning-number {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
}

.restaurant-title {
  font-family: Shrikhand-Regular;
  font-size: 24px;
}

.meal-title {
  font-family: Roboto-Light;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.flat-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 900;
}

.flat-description {
  font-family: Roboto-light;
  font-size: 15px;
  font-weight: 300;
}

.flat-price {
  font-family: Roboto-Bold;
  font-size: 15px;
  font-weight: 300;
}

.thumbnail-title {
  font-family: Roboto-Bold;
  font-size: 18px;
  font-weight: 500;
}

.thumbnail-text {
  font-family: Roboto-Light;
  font-size: 17px;
  font-weight: 300;
}

.footer-title {
  font-family: Shrikhand-Regular;
  font-size: 17px;
}

.footer-top-text {
  font-family: Roboto;
  font-size: 19px;
  font-weight: 900;
}

.footer-bottom-text {
  font-family: Roboto-Light;
  font-size: 23px;
  font-weight: 300;
}

.new {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 900;
}

.link {
  color: #000000;
  text-decoration: none;
}

.logo-arrow {
  height: 20px;
  transform: rotate(180deg);
}
.logo-arrow--inactivate {
  display: none;
}

.logo-footer {
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(99deg) brightness(100%) contrast(103%);
}

.logo-fonctionning {
  height: 25px;
  margin-right: 10px;
  filter: invert(46%) sepia(0%) saturate(80%) hue-rotate(166deg) brightness(104%) contrast(91%);
}
.logo-fonctionning--activate {
  filter: invert(47%) sepia(95%) saturate(2900%) hue-rotate(238deg) brightness(87%) contrast(97%);
}

.logo-heart--full {
  bottom: 45px;
  right: 35px;
  position: absolute;
  height: 0px;
  transition: all 700ms cubic-bezier(0.2, 1.11, 0.53, 0.99);
  z-index: 2;
}

.logo-heart--empty {
  bottom: 30px;
  right: 20px;
  position: absolute;
  height: 30px;
}

.logo-validation {
  height: 24px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(99deg) brightness(100%) contrast(103%);
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
}

.logo-loader {
  height: 80px;
}

.btn {
  height: 50px;
  border-radius: 25px;
  border: 0;
  background: #ff79da;
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
}

@-webkit-keyframes appear {
  79% {
    visibility: visible;
  }
  98% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes appear {
  79% {
    visibility: visible;
  }
  98% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes loader {
  0% {
    transform: translate(-120px, 300px) scale(0);
  }
  25% {
    transform: translate(-80px, 300px) scale(0.9);
  }
  50% {
    transform: translate(0px, 300px) scale(1);
  }
  75% {
    transform: translate(80px, 300px) scale(0.9);
  }
  100% {
    transform: translate(120px, 300px) scale(0);
  }
}
@keyframes loader {
  0% {
    transform: translate(-120px, 300px) scale(0);
  }
  25% {
    transform: translate(-80px, 300px) scale(0.9);
  }
  50% {
    transform: translate(0px, 300px) scale(1);
  }
  75% {
    transform: translate(80px, 300px) scale(0.9);
  }
  100% {
    transform: translate(120px, 300px) scale(0);
  }
}
.loader {
  visibility: visible;
  -webkit-animation: 5s appear;
          animation: 5s appear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.loader img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; /* IE 9 */ /* Chrome, Safari, Opera */
  transform: translateZ(0);
  position: absolute;
  -webkit-animation: loader 1.5s infinite cubic-bezier(1, 1, 1, 1);
          animation: loader 1.5s infinite cubic-bezier(1, 1, 1, 1);
}

.loader img:nth-child(1) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  filter: invert(47%) sepia(95%) saturate(2900%) hue-rotate(238deg) brightness(87%) contrast(97%);
}

.loader img:nth-child(2) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  filter: invert(78%) sepia(33%) saturate(5295%) hue-rotate(284deg) brightness(104%) contrast(102%);
}

.loader img:nth-child(3) {
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  filter: invert(81%) sepia(4%) saturate(5264%) hue-rotate(81deg) brightness(129%) contrast(113%);
}

.header {
  position: relative;
  height: 50px;
  box-shadow: 0 0px 6px 0px #222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo {
  position: absolute;
  left: 10px;
}
.header__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  visibility: hidden;
  -webkit-animation: 5s fadeIn;
          animation: 5s fadeIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

footer {
  background-color: #353535;
  color: white;
  height: 195px;
  padding-left: 25px;
  padding-right: 25px;
}
footer h2 {
  padding-top: 25px;
  margin-bottom: 20px;
}
footer a {
  display: flex;
  align-items: center;
  justify-content: normal;
  margin-bottom: 6px;
  gap: 10px;
}
footer h2,
footer h5,
footer h6 {
  color: white;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  padding: 15px;
}
.localisation h5 {
  margin-left: 5px;
}

.explor {
  padding-top: 35px;
  height: 180px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #f7f7f7;
}
.explor h2 {
  margin-bottom: 15px;
}
.explor button {
  margin-top: 30px;
}

.fonctionning {
  margin-top: 50px;
  margin-left: 24px;
  margin-right: 20px;
  margin-bottom: 70px;
}
.fonctionning > article {
  height: 75px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.fonctionning h2 {
  margin-bottom: 30px;
}
.fonctionning__number {
  position: absolute;
  top: 25px;
  background-color: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  color: white;
}
.fonctionning__text {
  box-shadow: 0px 5px 10px 5px #eaeaea;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: normal;
  width: 100%;
  margin-left: 12px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}
.fonctionning__text-activate {
  background: #ffe9f9;
}

.restaurant {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 65px;
  background-color: #f7f7f7;
}
.restaurant h2 {
  margin-bottom: 20px;
}
.restaurant__arrangement {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurant__thumbnail {
  box-shadow: 0px 5px 10px 5px #eaeaea;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
  height: 250px;
  background: white;
}
.restaurant__thumbnail p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-radius: 2px;
  background-color: #6effdb;
  color: #008766;
  font-weight: 900;
}
.restaurant__thumbnail__img {
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__thumbnail__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 25px;
}
.restaurant__thumbnail__description:hover + .logo-heart--full {
  height: 40px;
  bottom: 26px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .explor {
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .fonctionning {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .fonctionning article {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .fonctionning h2 {
    width: 100%;
  }
  .restaurant__arrangement {
    flex-direction: row;
    justify-content: center;
  }
  .restaurant__thumbnail {
    width: 22%;
  }
  .restaurant__thumbnail__description {
    padding-top: 5px;
    padding-left: 10px;
  }
  .restaurant__thumbnail__description:hover + .logo-heart--full {
    right: 5px;
  }
  .logo-heart--full {
    right: 25px;
  }
  .logo-heart--empty {
    right: 10px;
  }
}
@media screen and (min-width: 992px) {
  .localisation {
    justify-content: left;
    padding-left: 30px;
    padding-top: 40px;
    background-color: #f7f7f7;
    border-radius: 50px 50px 0px 0px;
    margin-top: 30px;
  }
  .explor {
    text-align: start;
    padding-left: 30px;
    border-radius: 0px 0px 50px 50px;
  }
  .restaurant {
    border-radius: 50px;
    margin-bottom: 30px;
  }
  .restaurant__arrangement {
    flex-wrap: wrap;
  }
  .restaurant__thumbnail {
    width: 48%;
  }
}
@-webkit-keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.line {
  width: 30px;
  height: 3px;
  background: #99e2d0;
  margin-bottom: 12px;
}

.main-restaurant {
  height: 1420px;
  position: relative;
}
.main-restaurant__image {
  height: 260px;
}
.main-restaurant > div {
  border-radius: 40px 40px 0px 0px;
  height: 1200px;
  top: 220px;
}
.main-restaurant__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.main-restaurant > div {
  background-color: #eaeaea;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  right: 0;
  left: 0;
}
.main-restaurant__title {
  margin-top: 30px;
  margin-bottom: 25px;
}
.main-restaurant__button {
  width: 200px;
}

.button {
  display: flex;
  justify-content: center;
}

@-webkit-keyframes animate-fade {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes animate-fade {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.meal {
  margin-top: 20px;
  margin-bottom: 40px;
}
.meal__title {
  margin-bottom: 5px;
}
.meal__flat {
  position: relative;
  overflow: hidden;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: animate-fade;
          animation-name: animate-fade;
  -webkit-animation-timing-function: cubic-bezier(0.08, 0.56, 0.38, 1.14);
          animation-timing-function: cubic-bezier(0.08, 0.56, 0.38, 1.14);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 14px;
}
.meal__flat h3,
.meal__flat h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__flat__left {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 15px;
  width: 100%;
  overflow: hidden;
}
.meal__flat__left:hover + .meal__flat__right {
  right: 0px;
  width: 80px;
}
.meal__flat__left:hover + .meal__flat__right > .logo-validation {
  transform: rotate(0deg);
}
.meal__flat__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.meal__flat__right {
  position: relative;
  right: -80px;
  width: 0px;
  transition: all 500ms;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  background-color: #99e2d0;
  color: white;
}

.delay-1 {
  -webkit-animation-delay: 5.3s;
          animation-delay: 5.3s;
}

.delay-2 {
  -webkit-animation-delay: 5.4s;
          animation-delay: 5.4s;
}

.delay-3 {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

.delay-4 {
  -webkit-animation-delay: 5.6s;
          animation-delay: 5.6s;
}

@media screen and (min-width: 768px) {
  .main-restaurant {
    height: 660px;
  }
  .main-restaurant__image {
    height: 100px;
  }
  .main-restaurant > div {
    border-radius: 40px 40px 0px 0px;
    height: 600px;
    top: 60px;
  }
  .main-restaurant > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
  }
  .main-restaurant__title {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 25px;
  }
  .meal {
    width: 30%;
    margin: 10px;
  }
}
@media screen and (min-width: 992px) {
  .main-restaurant {
    height: 900px;
  }
  .main-restaurant__image {
    height: 400px;
  }
  .main-restaurant > div {
    border-radius: 50px 50px 50px 50px;
    height: 550;
    top: 350px;
  }
}/*# sourceMappingURL=main.css.map */