footer {
  background-color: $colour-grey-dark;
  color: white;
  height: 195px;
  padding-left: 25px;
  padding-right: 25px;
  h2 {
    padding-top: 25px;
    margin-bottom: 20px;
  }
  a {
    @include display-align-justify();
    margin-bottom: 6px;
    gap: 10px;
  }
  h2,
  h5,
  h6 {
    color: white;
  }
}
