.header {
  @include display-align-justify();
  position: relative;
  height: 50px;
  box-shadow: 0 4px 6px -6px #222;
  @include display-align-justify(center);  
  &__logo {
    position: absolute;
    left: 10px;
  }

  &__title {
    width: 100%;
    @include display-align-justify(center);
  }
}
