.header {
  @include display-align-justify();
  position: relative;
  height: 50px;
  box-shadow: 0 4px 6px -6px #222;
  img {
    position: absolute;
    left: 10px;
  }
  h1 {
    width: 100%;
  }
  &__title {
    @include display-align-justify(center);
  }
}
