body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Shrikhand-Regular;
  src: url(../../public/font/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../../public/font/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../../public/font/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../../public/font/Roboto/Roboto-Light.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.main-title {
  font-family: Shrikhand-Regular;
  font-size: 28px;
}

.secondary-title {
  font-family: Roboto-Bold;
  font-size: 24px;
  font-weight: 100;
}

.explor-text {
  font-family: Roboto-Light;
  font-size: 18px;
  font-weight: 300;
}

.localisation-title {
  font-family: Roboto-Bold;
  font-size: 16px;
  font-weight: 100;
}

.fonctionning-title {
  font-family: Roboto-Bold;
  font-size: 16px;
  font-weight: 100;
}

.restaurant-title {
  font-family: Shrikhand-Regular;
  font-size: 24px;
}

.meal-title {
  font-family: Roboto-Light;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.flat-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 900;
}

.flat-description {
  font-family: Roboto-light;
  font-size: 15px;
  font-weight: 300;
}

.flat-price {
  font-family: Roboto-Bold;
  font-size: 15px;
  font-weight: 300;
}

.thumbnail-title {
  font-family: Roboto-Bold;
  font-size: 18px;
  font-weight: 500;
}

.thumbnail-text {
  font-family: Roboto-Light;
  font-size: 17px;
  font-weight: 300;
}

.footer-title {
  font-family: Shrikhand-Regular;
  font-size: 17px;
}

.footer-top-text {
  font-family: Roboto;
  font-size: 19px;
  font-weight: 900;
}

.footer-bottom-text {
  font-family: Roboto-Light;
  font-size: 23px;
  font-weight: 300;
}

.new {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 900;
}

.link {
  color: #000000;
  text-decoration: none;
}

.logo-arrow {
  height: 20px;
  rotate: 180deg;
}

.logo-footer {
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(99deg) brightness(100%) contrast(103%);
}

.logo-validation {
  height: 24px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(99deg) brightness(100%) contrast(103%);
}

.btn {
  height: 50px;
  border-radius: 25px;
  border: 0;
  background: #ff79da;
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  box-shadow: 0 4px 6px -6px #222;
}
.header img {
  position: absolute;
  left: 10px;
}
.header h1 {
  width: 100%;
}
.header__title {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #353535;
  color: white;
  height: 195px;
  padding-left: 25px;
  padding-right: 25px;
}
footer a {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  gap: 10px;
}
footer h1 {
  padding-top: 25px;
  margin-bottom: 20px;
  color: white;
}
footer h5,
footer h6 {
  color: white;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 15px;
}
.localisation h5 {
  margin-left: 5px;
}

.explor {
  padding-top: 35px;
  height: 180px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #f7f7f7;
}
.explor h2 {
  margin-bottom: 15px;
}
.explor button {
  margin-top: 30px;
}

.fonctionning {
  margin-top: 50px;
  margin-left: 24px;
  margin-right: 20px;
  margin-bottom: 70px;
}
.fonctionning > div {
  height: 75px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.fonctionning h2 {
  margin-bottom: 30px;
}
.fonctionning__number {
  position: absolute;
  top: 25px;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  height: 25px;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  font-weight: 900;
}
.fonctionning__img {
  height: 25px;
  margin-right: 10px;
  filter: invert(46%) sepia(0%) saturate(80%) hue-rotate(166deg) brightness(104%) contrast(91%);
}
.fonctionning__img--activate {
  filter: invert(47%) sepia(95%) saturate(2900%) hue-rotate(238deg) brightness(87%) contrast(97%);
}
.fonctionning__text {
  box-shadow: 0px 0px 8px 1px #eaeaea;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 12px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}
.fonctionning__text-activate {
  background: #ffe9f9;
}

.restaurant {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 65px;
  background-color: #f7f7f7;
}
.restaurant h2 {
  margin-bottom: 20px;
}
.restaurant__arrangement {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurant__thumbnail {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
  height: 250px;
  background: white;
}
.restaurant__thumbnail p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-radius: 2px;
  background-color: #6effdb;
  color: #008766;
  font-weight: 900;
}
.restaurant__thumbnail > img {
  height: 175px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__thumbnail__description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 25px;
}
.restaurant__thumbnail__description > img {
  height: 30px;
}

.line {
  width: 30px;
  height: 3px;
  background: #99e2d0;
  margin-bottom: 12px;
}

.main-restaurant {
  position: relative;
  height: 1350px;
}
.main-restaurant__image {
  height: 260px;
  object-fit: cover;
  width: 100%;
}
.main-restaurant > div {
  background-color: #eaeaea;
  border-radius: 40px 40px 0px 0px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  right: 0;
  left: 0;
  height: 1130px;
  top: 220px;
}
.main-restaurant__title {
  margin-top: 30px;
  margin-bottom: 25px;
}
.main-restaurant__button {
  width: 200px;
}

.button {
  display: flex;
  justify-content: center;
}

.meal {
  margin-top: 20px;
  margin-bottom: 40px;
}
.meal__title {
  margin-bottom: 5px;
}
.meal__flat {
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 14px;
}
.meal__flat h3,
.meal__flat h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__flat__left {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  width: 100%;
  overflow: hidden;
}
.meal__flat__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.meal__flat__right:hover {
  display: flex;
  width: 80px;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  background-color: #99e2d0;
}

/*# sourceMappingURL=style.css.map */
