.btn {
  height: 50px;
  border-radius: 25px;
  border: 0;
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 0px 6px #222;
  background-image: linear-gradient(
    to top,
    $colour-primary 0%,
    $colour-secondary 100%
  );
  &:hover {
    background-image: linear-gradient(
      to top,
      lighten($colour-primary, 5%) 0%,
      lighten($colour-secondary, 5%) 100%
    );
    box-shadow: 0 0px 8px 0px darken(#222, 50%);
  }
}
