.btn {
  height: 50px;
  border-radius: 25px;
  border: 0;
  background: $colour-secondary;
  color: white;
  font-weight: 900;
  padding-left: 30px;
  padding-right: 30px;
  background-image: linear-gradient(
    to top,
    $colour-primary 0%,
    $colour-secondary 100%
  );
}
