.logo-arrow {
  height: 20px;
  transform: rotate(180deg);
  &--inactivate {
    display: none;
  }
}
.logo-footer {
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(99deg)
    brightness(100%) contrast(103%);
}

.logo-fonctionning {
  height: 25px;
  margin-right: 10px;
  filter: invert(46%) sepia(0%) saturate(80%) hue-rotate(166deg)
    brightness(104%) contrast(91%);
  &--activate {
    filter: invert(47%) sepia(95%) saturate(2900%) hue-rotate(238deg)
      brightness(87%) contrast(97%);
  }
}

.logo-heart--full {
  bottom: 45px;
  right: 35px;
  position: absolute;
  height: 0px;
  transition: all 700ms cubic-bezier(0.2, 1.11, 0.53, 0.99);
  z-index: 2;
}
.logo-heart--empty {
  bottom: 30px;
  right: 20px;
  position: absolute;
  height: 30px;
}
.logo-heart-title {
  height: 30px;
}
.logo-validation {
  height: 24px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(99deg)
    brightness(100%) contrast(103%);
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
}
.logo-loader {
  height: 80px;
}
