body {
  margin: auto;
  max-width: 1400px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .content {
    margin-left: 30px;
    margin-right: 30px;
  }
}
