@font-face {
  font-family: Shrikhand-Regular;
  src: url(../../public/font/Shrikhand/Shrikhand-Regular.ttf);
}
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: Shrikhand-Regular;
  font-size: 30px;
}

textarea {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}
