@font-face {
  font-family: Shrikhand-Regular;
  src: url(../../public/font/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../../public/font/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../../public/font/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../../public/font/Roboto/Roboto-Light.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.title-main {
  font-family: Shrikhand-Regular;
  font-size: 28px;
}

.title-secondary {
  font-family: Roboto-Bold;
  font-size: 24px;
  font-weight: 100;
}

.explor-text {
  font-family: Roboto-Light;
  font-size: 18px;
  font-weight: 300;
}
.title-localisation {
  font-family: Roboto-Bold;
  font-size: 16px;
  font-weight: 100;
}
.title-fonctionning {
  font-family: Roboto-Bold;
  font-size: 16px;
  font-weight: 100;
}
.title-restaurant {
  font-family: Shrikhand-Regular;
  font-size: 26px;
}
.title-meal {
  font-family: Roboto-Light;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.title-thumbnail {
  font-family: Roboto-Bold;
  font-size: 18px;
  font-weight: 500;
}
.text-thumbnail {
  font-family: Roboto-Light;
  font-size: 17px;
  font-weight: 300;
}
.title-footer {
  font-family: Shrikhand-Regular;
  font-size: 17px;
}
.text-footer-top {
  font-family: Roboto;
  font-size: 19px;
  font-weight: 900;
}
.text-footer-bootom {
  font-family: Roboto-Light;
  font-size: 23px;
  font-weight: 300;
}
.new {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 900;
}
.link {
  color: #000000;
  text-decoration: none;
}
