.localisation {
  @include display-align-justify(center);
  background-color: $colour-grey;
  padding: 15px;
  h5 {
    margin-left: 5px;
  }
}

.explor {
  padding-top: 35px;
  height: 180px;
  padding-bottom: 60px;
  text-align: center;
  background-color: $colour-grey-light;
  h2 {
    margin-bottom: 15px;
  }
  button {
    margin-top: 30px;
  }
}

.fonctionning {
  margin-top: 50px;
  margin-left: 24px;
  margin-right: 20px;
  margin-bottom: 70px;
  > article {
    height: 75px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 30px;
  }
  &__number {
    position: absolute;
    top: 25px;
    background-color: $colour-primary;
    @include display-align-justify(center);
    height: 24px;
    width: 24px;
    border-radius: 12px;
    color: white;
  }

  &__text {
    box-shadow: $shadow-bottom;
    background-color: $colour-grey-light;
    @include display-align-justify();
    width: 100%;
    margin-left: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    &-activate {
      background: lighten($colour-secondary, 22%);
    }
  }
}

.restaurant {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 65px;
  background-color: lighten($colour-grey, 5%);
  h2 {
    margin-bottom: 20px;
  }
  &__arrangement {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__thumbnail {
    box-shadow: $shadow-bottom;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    height: 250px;
    background: white;
    p {
      @include display-align-justify(center);

      width: 80px;
      height: 30px;
      position: absolute;
      right: 10px;
      top: 15px;
      border-radius: 2px;
      background-color: lighten(#008766, 45%);
      color: #008766;
      font-weight: 900;
    }
    &__img {
      height: 175px;
      object-fit: cover;
      border-radius: 20px 20px 0px 0px;
    }
    &__description {
      @include display-align-justify(space-between);
      flex-direction: column;
      flex-direction: row;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 25px;
      &:hover + .logo-heart--full {
        height: 40px;
        bottom: 26px;
        right: 15px;
      }
    }
  }
}
