.line {
  width: 30px;
  height: 3px;
  background: $colour-tertiary;
  margin-bottom: 12px;
}
.main-restaurant {
  position: relative;
  height: 1350px;
  &__image {
    height: 260px;
    object-fit: cover;
    width: 100%;
  }
  > div {
    background-color: $colour-grey;
    border-radius: 40px 40px 0px 0px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 0;
    left: 0;
    height: 1130px;
    top: 220px;
  }
  &__title {
    margin-top: 30px;
    margin-bottom: 25px;
  }
  &__button {
    // margin-top: 20px;
    width: 200px;
  }
}
.button {
  display: flex;
  justify-content: center;
}
.meal {
  margin-top: 20px;
  margin-bottom: 40px;
  &__title {
    margin-bottom: 5px;
  }
  &__flat {
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 14px;
    &__left {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      width: 100%;
      overflow: hidden;
    }
    &__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &__right {
      &:hover {
        display: flex;
        width: 80px;
        margin-left: 15px;
        align-items: center;
        justify-content: center;
        border-radius: 0px 15px 15px 0px;
        background-color: $colour-tertiary;
      }
    }
  }
}
