.line {
  width: 30px;
  height: 3px;
  background: $colour-tertiary;
  margin-bottom: 12px;
}

.main-restaurant {
  position: relative;
  height: 1350px;
  &__image {
    height: 260px;
    object-fit: cover;
    width: 100%;
  }
  > div {
    background-color: $colour-grey;
    border-radius: 40px 40px 0px 0px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 0;
    left: 0;
    height: 1130px;
    top: 220px;
  }
  &__title {
    margin-top: 30px;
    margin-bottom: 25px;
  }
  &__button {
    width: 200px;
  }
}
.button {
  display: flex;
  justify-content: center;
}
@keyframes animate-fade {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.meal {
  margin-top: 20px;
  margin-bottom: 40px;

  &__title {
    margin-bottom: 5px;
  }
  &__flat {
    position: relative;
    overflow: hidden;
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(0.08, 0.56, 0.38, 1.14);
    animation-delay: 0.5s;
    animation-fill-mode: backwards;

    height: 70px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 14px;

    h3,
    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__left {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 15px;
      width: 100%;
      overflow: hidden;
      &:hover + .meal__flat__right {
        right: 0px;
        width: 80px;
        & > .logo-validation {
          transform: rotate(0deg);
        }
      }
    }
    &__description {
      @include display-align-justify(space-between);
      gap: 5px;
    }
    &__right {
      position: relative;
      right: -80px;
      width: 0px;
      transform-origin: right;
      transition: right 500ms, width 500ms;
      height: 100%;
      @include display-align-justify(center);
      border-radius: 0px 15px 15px 0px;
      background-color: $colour-tertiary;
      color: white;
    }
  }
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.5s;
}
