$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-grey: #eaeaea;
$colour-grey-light: #f7f7f7;
$colour-grey-dark: #353535;
$colour-button-new: #008766;

$shadow-bottom: 0px 5px 10px 5px $colour-grey;

$loader-time: 1s;

$size-restaurant: 1200px;
$size-restaurant-img: 260px;
